.currentDate {
  width: 50%;
  margin: auto;
  font-size: 1.5em;
}
.date {
  font-size: 1.5em;
}
.expenseCardsContainer {
  width: 50%;
  margin: 20px auto;
}
.expenseCards {
  display: flex;
  flex-direction: row;
  align-content: center;
}
.expenseCard {
  border: 1px solid black;
  border-radius: 10px;
  box-shadow: 5px 5px 5px gray;
  padding: 5px;
  margin-right: 10px;
  min-width: 12%;
}
.expenseSection {
  display: flex;
  flex-direction: column;
  margin: 30px 0 0 0;
}

.dueDateToday {
  box-shadow: 5px 5px 5px #3d9e39;
}
.dueDateNotPassed {
  box-shadow: 5px 5px 5px salmon;
}
