/* You can add global styles to this file, and also import other style files */

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

body {
  background-color: #fffada;
}

.inputInfo {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  padding-top: 3%;
  font-family: 'Roboto', sans-serif;
}

.infoFormFieldset {
  width: 25%;
  height: 30%;
  margin: auto auto 2% auto;
  border: 1px solid black;
  border-radius: 10px;
  box-shadow: 10px 10px 15px gray;
  padding: 1%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}

/* NAV MENU / DROPDOWN */
.main-nav {
  width: 100%;
  height: 60px;
  background-color: #b2d3a8;
  opacity: 1;
  border-radius: 15px;
  border: 1px solid black;
  box-shadow: 3px 3px 3px gray;
}
  .main-nav span {
    font-family: Arial;
    color: black;
    font-size: 2em;
    line-height: 55px;
    float: left;
    padding: 0 20px;
  }
  .main-nav .main-nav-bar {
    float: left;
  }
    .main-nav .main-nav-bar .main-nav-option {
      float: left;
      list-style: none;
      position: relative;
      padding: 5px 10px;
      margin-right: 8px;
    }
      .main-nav .main-nav-bar .main-nav-option:hover {
        transition: background-color .05s linear, box-shadow .05s linear, transform .05s linear;
        background-color: #d6e9d0;
        border-radius: 10px;
        box-shadow: 1px 1px 3px black;
        transform: translate(-1px, -1px);
      }
      .main-nav .main-nav-bar .main-nav-option:active {
        transition: background-color .01s linear, box-shadow .01s linear, transform .01s linear;
        background-color: #9ac18f;
        border-radius: 10px;
        box-shadow: 1px 1px 3px inset black;
        transform: translate(0, 0);
      }
      .main-nav .main-nav-bar .main-nav-option a {
        display: block;
        font-family: Arial;
        font-size: 1.25em;
        text-decoration: none;
      }
          .main-nav .main-nav-bar .main-nav-option a:visited {
            color: black;
            text-decoration: none;
          }
      .main-nav .main-nav-bar .main-nav-option .dd-nav-menu {
        opacity: 0;
        visibility: hidden;
        position: absolute;
        background-color: rgba(245, 232, 152, 1);
        padding: 10px 5px;
        border-radius: 10px;
        border: 1px solid black;
        width: 170px;
        box-shadow: 4px 4px 6px #5b5b5b;
        list-style: none;
        margin-top: 2px;
      }
      .main-nav .main-nav-bar .main-nav-option:hover .dd-nav-menu {
        margin-top: 5px;
        visibility: visible;
        transition-delay: .12s;
        transition-property: all;
        transition-duration: .15s;
        transition-timing-function: linear;
        opacity: 1;
      }
      .main-nav .main-nav-bar .main-nav-option .dd-nav-menu .dd-nav-option {
        width: 100%;
        border-right: none;
        border-radius: 10px;
      }
      .main-nav .main-nav-bar .main-nav-option .dd-nav-menu .dd-nav-option:last-child {
        margin-bottom: 0;
      }
        .main-nav .main-nav-bar .main-nav-option .dd-nav-menu .dd-nav-option:hover {
          transition: transform .1s linear, box-shadow .1s linear, width .2s ease-in-out;
          background-color: rgb(255,250,218);
          border: 1px solid black;
          border-radius: 5px;
          transform: scale(1.01);
          box-shadow: 1px 1px 1px gray;
          width: 106%;
        }
        .main-nav .main-nav-bar .main-nav-option .dd-nav-menu .dd-nav-option a {
          font-size: 1em;
          width: 100%;
          padding: 0 10px 0 10px;
          line-height: 1.5em;
        }

/* DYNAMIC FORMS */
.dynamicFormComponentContainer {
  position: absolute;
  display: flex;
  width: 100%;
  justify-content: center;
  margin-bottom: 20px;
}
.dynamicFormComponent {
  /*position: absolute;*/
  width: 100%;
}

/* TABLE */
.tableContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  transition: transform .2s ease-in-out;
}
  .tableContainer table {
    border: 1px solid black;
    border-collapse: collapse;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    width: 50%;
    height: fit-content;
  }

  .tableContainer tr {
    border: 1px solid black;
  }
  .tableContainer th {
    font-size: 1.5em;
    color: white;
    background: #592941; 
  }
  .tableContainer td {
    padding: 5px;
    margin: 0;
    font-size: 1.25em;
    text-align: center;
  }
  .tableContainer caption { margin-bottom: 5px; }

/* TABLE PAGE INTERACT BUTTONS */
.buttonsContainer {
  display: flex;
  justify-content: center;
  /*margin: 5px 0 0 0;*/
}
.buttons {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}
  .buttons button { font-size: 1em; }

/* NOTIFICATION MESSAGE */
.message-container {
  display: flex;
  justify-content: center;
  width: 20%;
  height: fit-content;
  margin: 0 auto;
}
.message-div {
  position: absolute;
  margin-top: -2%;
  border: 1px solid black;
  border-radius: 10px;
  padding: 3px 2px 2px 0;
  background-color: #4cc12b;
}
.message {
  font-size: 1.2em;
  padding: 1px 8px 1px 8px;
  border: 1px solid black;
  background-color: #ccffb7;
  border-radius: 10px;
}
.checkmarkIcon { padding: 10px 10px; }
  .checkmarkIcon svg {
    color: white;
    transform: scale(1.4) translateY(1px);
  }

/* ICONS */
.trashIcon, .editIcon, .openIcon, .addIcon {
  border: none;
  background-color: #fffada;
  cursor: pointer;
  transform: scale(1.1);
}
  .trashIcon:hover, .editIcon:hover, .openIcon:hover, .addIcon:hover { transform: scale(1.2); }
.trashIcon { color: red; }
.addIcon { color: green; }

/* SORT DROPDOWN */
.sortDpdwn {
  height: 30px;
  padding: 0 5px;
  background-color: transparent;
  border: solid #777 2px;
  border-radius: 5px;
  font-size: 1.2em;
  color: #777;
}

/* MIDDLE TO EDGE SWIPE BUTTON */
.mid-edge-sweep-btn {
  cursor: pointer;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-family: Marvel;
  position: relative;
  width: fit-content;
  border: solid #777 2px;
  color: black;
  font-weight: bold;
  transition: all 0.3s linear;
  border-radius: 5px;
  background: transparent;
  z-index: 1;
}
  .mid-edge-sweep-btn:before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: #592941;
    transform: scale(0);
    transition: 0.3s ease-in-out;
    z-index: -1;
  }
  .mid-edge-sweep-btn:hover:before {
    transform: scale(1);
  }
  .mid-edge-sweep-btn:hover {
    color: white;
    border-color: #592941;
  }
  .mid-edge-sweep-btn:active:before {
    background-color: #87b679;
  }
  .mid-edge-sweep-btn:active {
    border-color: #87b679;
    color: #333;
    background-color: #87b679;
  }
  .mid-edge-sweep-btn:focus {
    outline: none
  }
