<nav class="main-nav">
  <!--<span>B.Finance</span>-->
  <span>
    <img class="logo" src="../assets/b-finance-trans-logo.png" alt="" />
  </span>
  <ul class="main-nav-bar">
    <li class="main-nav-option"><a class="aTxt" routerLink="/Accounts">Accounts</a></li>
    <li class="main-nav-option"><a class="aTxt" routerLink="/Expenses">Expenses</a>
      <!--<ul class="dd-nav-menu">
        <li class="dd-nav-option"><a routerLink="/Expense/Bills">Bills</a></li>
        <li class="dd-nav-option"><a routerLink="/Expense/Subscriptions">Subscriptions</a></li>
        <li class="dd-nav-option"><a routerLink="/Expense/AutoTransfers">Automatic Transfers</a></li>
      </ul>-->
    </li>
    <li class="main-nav-option"><a class="aTxt" routerLink="">Overview</a></li>
    <li class="main-nav-option"><a class="aTxt" routerLink="">Budget</a></li>
    <li class="main-nav-option"><a class="aTxt" routerLink="/Calendar">Calendar</a></li>
    <li class="main-nav-option"><a class="aTxt" routerLink="/Tools">Tools</a></li>
  </ul>
</nav>

<div class="content">
  <router-outlet></router-outlet>
</div>
